.disclaimer,
.title, 
.owner
{
  text-align: center;
}

.disclaimer {
  background-color: yellow;
  color:red;
  font-weight: bold;
  text-align: center;
}

.image,
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 20%;
  height: 20%;
}

.image2 {
  width: 350px;
  height: 300px;
}

#kagami {
  border: 7px solid #d3b5f1;
}

#headline {
  background-color: #d3b5f1;
  width: 200px;
  height: 50px;
  margin: 25px auto;
}

.recipe-text {
  text-align: center;
  background: #c96974;
  width: 200px;
  height: 50px;
  margin: 50px auto;
}

.recipe-text2 {
  text-align: center;
}